/* 
Project Name: KA Playlist
Client: Perso proj.
Author: Alex Wyrick
*/

/******************************************
/* COLOR PALLET

Elements:
Box BG - RGBA(240, 240, 240, 1.00)
Button hover - RGBA(220, 220, 220, 1.00)
Green action - RGBA(200, 255, 200, 1.00)
Red action - RGBA(255, 200, 200, 1.00)

fonts:
black - RGBA(0, 0, 0, 1.00)
hyperlinks - RGBA(79, 0, 210, 1.00)
charcoal - RGBA(60, 60, 60, 1.00)
Gray - RGBA(100, 100, 100, 1.00)
lightGray - RGBA(150, 150, 150, 1.00)
faded - RGBA(200, 200, 200, 1.00)

/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY

Font-families:
Gotham
Sans-serif
Font-sizes:
2rem
1rem

/*******************************************/

/******************************************
/* SEARCHBAR TEXT STYLING
/*******************************************/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {  
   text-align: center;
}

        
#search::-webkit-input-placeholder {
  color: transparent;
  text-indent: -9999px;
  background-image: url("http://alexwyrick.com/images/search_icon.png");
  background-position: 0 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
#search::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
  text-indent: -9999px;
  background-image: url("http://alexwyrick.com/images/search_icon.png");
  background-position: 0 50%;
  background-size: 150px;
  background-repeat: no-repeat; 
  background-position: center;
}
#search:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
  text-indent: -9999px;
  background-image: url("http://alexwyrick.com/images/search_icon.png");
  background-position: 0 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
#search:-ms-input-placeholder {
  /* IE 10- */
  color: transparent;
  text-indent: -9999px;
  background-image: url("http://alexwyrick.com/images/search_icon.png");
  background-position: 0 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
/******************************************
/* SEARCH BAR STYLING
- https://www.formget.com/css-search-box/ 
/*******************************************/

@font-face {
	font-family: 'Gotham';

	src: 
	local('Gotham-Book.otf'),
	url('fonts/Gotham-Book.otf')
	format('opentype');
}

@font-face {
	font-family: 'Gotham-Medium';

	src: 
	local('Gotham-Medium.otf'),
	url('fonts/Gotham-Book.otf')
	format('opentype');
}

@font-face {
	font-family: 'Gotham-Light';

	src: 
	local('Gotham-Light.otf'),
	url('fonts/Gotham-Light.otf')
	format('opentype');
}


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
    font-family: 'Gotham-Book', sans-serif;
}

@media (min-width: 750px){
	.site-container {
	max-width: 1200px;
	margin: 0 auto;
    font-family: 'Gotham-Book', sans-serif;
}}

.site-header {
	height: 40px;
}

/*@media (min-width: 750px){
	.site-header {
		height: 70px;
	}
}*/

.site-search{
	background-color: #fff;
	border-top: 15px;
}

@media (min-width: 750px){
.site-search{
	margin-top: 11px;
}}

#search{
	margin-top: -34px;
	width: 80%;
	margin-left: 9%;
	border-radius: 1px;
	border: 1px solid #E6E6E6;
	height: 23px;
}

@media (min-width: 750px){
#search{
	margin-top: 80px;
	margin-bottom: 38px;
	width: 50%;
	margin-left: 25%;
	border-radius: 3px;
	}}

@media (min-width: 1000px){
#search{
	width: 40%;
	margin-left: 30%;
	}}

.logo{
	font-family: 'Gotham-Light', sans-serif;
	font-size: 1.8rem;
	letter-spacing: .05rem;
	position: absolute;
	padding-left: 10px;
	float: left;
	line-height: 45px;
	text-transform: uppercase;
	word-spacing: .3rem; 
	color: #646464;
	margin-right: 5px
}

.modalLogo{
	font-size: 1.25rem;
}

@media (min-width: 800px){
	.logo{
	font-size: 3rem;
	margin-left: 30px;
	margin-top: 15px;
	letter-spacing: .12rem;
	}
}

.KAlogo{
	width: 25px;
}

@media (min-width: 800px){
.KAlogo{
	width: 40px;
}}

.site-content {
	padding-left: 5px;
}

@media (min-width: 800px){
.site-content {
	width: 70%;
	margin-left: 15%;
}}

.site-footer {
	margin-top: 40px;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

.pageCount {
	margin-bottom: 25px;
	margin-left: -50px;
	text-align: center;
	display: inline-block;
	width: 70%;
	margin-left: 15%;
}

.count {
	display: inline-block;
}

.ex1 {
	font-size: .75rem;
	display: inline-block;
}

.nav-list{
	font-style: none;
}

#filterPannel{
	margin-left: 120px;
	display: inline-block;
}

.filter {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 11px;
	display: inline-block;
	color: #036E9F;
	border: 2px solid RGBA(200, 200, 200, 1.00);
	border-radius: 3px;
	display: inline-block;
}

.filter:hover {
	background-color: #036E9F;
	color: #fff;
}

@media (min-width: 800px){
	.filter {
		margin-left: 15px;
		}}

.courseContainer {
	width: 850px;
	display: inline-block;
	margin-top: 10px;
}

tbody {
	padding-top: 15px;
	padding-bottom:10px
}

@media (min-width: 800px){
	tbody {
	padding-top: 20px;
	padding-bottom:15px
}}

td.partNumber{
	padding-right: 10px;
	vertical-align: top;
	color: RGBA(100, 100, 100, 1.00);
	font-size: 1.5rem;
}

@media (min-width: 800px){
	td.partNumber{
	padding-left: 10px;
	}}

td.courseTitle{
	margin-left: 5px;
	width: 750px;
	color: #036E9F;
}

.courses{

}

.course{
	max-width: 800px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid RGBA(210, 210, 210, 1.00);
}

.course:hover{
	background-color: RGBA(240, 240, 240, .50);
}

td.courseDescription{
	display: inline-block;
	font-size: .75rem;
}

.courseLink {
	display: inline-block;
	color: #7d9dfe;
	font-size: 2rem;
	font-weight: 400px;
    background-color: #fff;
    padding-top: 1px, 8px, 3px, 8px;
    border-radius: 5px;
    margin-right: -24;
    border: 2px solid #7d9dfe;
}

.courseLink:hover {
	background-color: #7d9dfe;
	color: #fff;
}

#modalDialog .addButtons {
	font-size: 1.5rem;
	padding-top: 1px, 8px, 3px, 8px;
}

.addButtons {
    padding: 4px 6px 0px 6px;
    font-size: 1.75rem;
    line-height: 18px;
    margin-top: -25px;
    margin-right: 10px;
    color: RGBA(167, 218, 160, 1.00);
    border: 2px solid RGBA(167, 218, 160, 1.00);
    border-radius: 5px;
    display: inline-block;
    background-color: RGBA(255, 255, 255, 1.00);
}

.addButtons:hover {
	color: RGBA(255, 255, 255, 1.00);
	background-color: RGBA(167, 218, 160, 1.00);
}


.addCourse {
	display: inline-block;
	padding: 10px 20px;
	margin-right: 10px;
	float: left;
	margin-top: 10px;
}

.plusButton {
	font-size: 2.75rem;
	font-weight: 600;
	margin-top: -4px;
	display: inline-block;
}

.plusButton:hover {
	color: white;
}

.activeLink {
	border-bottom: 2px solid gray;
	margin-bottom: 5px;
}


/******************************************
/* SEARCH BAR STYLING
- https://www.formget.com/css-search-box/ 
/*******************************************/
 
 /******************************************
/* SEARCH BAR STYLING
https://www.taniarascia.com/responsive-dropdown-navigation-bar/
http://codepen.io/taniarascia/pen/dYvvYv
/*******************************************/
 
 @charset "UTF-8";

nav-container{
	background: #fff;
	color: #262626;
	}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	margin-top: -20;
	padding: 0;
}

@media (min-width: 800px){
nav ul {
	margin-top: 0;
}}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	padding: 0 20px;
	line-height: 70px;
	background: #fff;
	color: #262626;
	text-decoration: none;
}

nav ul li a:hover {
	background: #2581DC;
	color: #ffffff;
}

nav ul li a:not(:only-child):after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	padding: 15px;
	line-height: 20px;
	z-index: 1;
}

.nav-dropdown {
	position: absolute;
	display: none;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	color: #262626;
	height: 37px;
	width: 45px;
}

#nav-toggle {
	position: absolute;
	left: 0px;
	top: 18px;
	cursor: pointer;
	background: #fff;
}

#nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
	cursor: pointer;
	border-radius: 3px;
	height: 4px;
	width: 28px;
	background: #C8C8C8;
	position: absolute;
	display: block;
	content: '';
	transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
	top: -7px;
}

#nav-toggle span:after {
	bottom: -7px;
}

#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
	.nav-mobile {
		display: block;
	}

	nav {
		width: 100%;
		padding: 70px 0 15px;
	}

	nav ul {
		display: none;
	}

	nav ul li {
		float: none;
	}

	nav ul li a {
		padding: 15px;
		line-height: 20px;
	}

	nav ul li ul li a {
		padding-left: 30px;
	}

	.nav-dropdown {
		position: static;
	}
}

@media screen and (min-width: 800px) {
	.nav-list {
		display: block !important;
	}
}

.navigation {
	height: 70px;
	background: #262626;
}

.nav-container {
	max-width: 1000px;
	margin: 0 auto;
}

/* S T A R T   OF   M O D A L   P O P - U P    P A N E L S*/
/* S T A R T   OF   M O D A L   P O P - U P    P A N E L S*/
.panel1{
	height: 400px;
	margin-top: 28px;
	float: left;
}

@media (max-width: 700px){
.panel1{
	margin-top: 0;
}
}

.panel1 a img{
		height: 350px;
		margin-left: 50px;
}

@media (max-width: 700px){
.panel1 a img{
		margin-left: 20px;
		margin-top: 20px;
	}
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 99999;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

/*.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}*/

.modalDialog > div {
    width: 700px;
    height: 540px;
    position: relative;
    margin: 30px auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #f1f1f1;
    background: #fff;
}

.modalDialog h2 {
	font-size: 2rem;
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 750px){
.modalDialog h2 {
	margin-top: 50px;
}
}

@media (max-width: 700px){
	.modalDialog > div {
	   width: 85%;
	   height: 480px;
	   position: relative;
	   margin: 10px auto;
	   padding: 5px 20px 13px 20px;
	   border-radius: 3px;
	   background: #f1f1f1;
	   background: #fff;
	   overflow-y:auto;
	}
}

.close {
    background: white;
    color: #CDCDCD;
    line-height: 55px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 56px;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border: 3px solid #CDCDCD;
}

@media (max-width: 700px){
	.close {
	    color: #303030;
	    position: fixed;
	    right: 0;
	    top: 0;
      	    font-size: 2.5rem;
	  	    }
}


.gone {
}

@media (max-width: 700px){

.gone {
       display:none;
}
}

.close:hover { 
	background: RGBA(232, 240, 252, 1); 
	text-decoration: none
		}
/* E N D   OF   M O D A L   P O P - U P    P A N E L S*/
/* E N D   OF   M O D A L   P O P - U P    P A N E L S*/

