/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS

Elements:
Box BG - RGBA(240, 240, 240, 1.00)
Button hover - RGBA(220, 220, 220, 1.00)
Green action - RGBA(200, 255, 200, 1.00)
Red action - RGBA(255, 200, 200, 1.00)

fonts:
black - RGBA(0, 0, 0, 1.00)
hyperlinks - RGBA(79, 0, 210, 1.00)
charcoal - RGBA(60, 60, 60, 1.00)
Gray - RGBA(100, 100, 100, 1.00)
lightGray - RGBA(150, 150, 150, 1.00)
faded - RGBA(200, 200, 200, 1.00)

/*******************************************/

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY

Font-families:
Gotham
Sans-serif
Font-sizes:
2rem
1rem

/*******************************************/

@font-face {
	font-family: 'Gotham';

	src: 
	local('Gotham-Book.otf'),
	url('fonts/Gotham-Book.otf')
	format('opentype');
}

@font-face {
	font-family: 'Gotham-Medium';

	src: 
	local('Gotham-Medium.otf'),
	url('fonts/Gotham-Book.otf')
	format('opentype');
}

@font-face {
	font-family: 'Gotham-Light';

	src: 
	local('Gotham-Light.otf'),
	url('fonts/Gotham-Light.otf')
	format('opentype');
}


/* TYPE STYLES

Big
Medium
Small
Button
Links

/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 90px;
    font-family: 'Gotham-Book', sans-serif;
}

.site-header {
	height: 100px;
	border-bottom: 3px solid RGBA(180, 180, 180, 1.00);
	padding-left: 50px;
	font-family: 'Gotham-Light', sans-serif;
}

.site-content {
	max-width: 960px;
	margin: 0 auto;
	padding-left: 50px;
}
.site-footer {
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

.small{ font-size: .9rem; letter-spacing: .8px;}
.medium-small{ font-size: 1rem; }
.medium{ font-size: 1.25rem; letter-spacing: 1px; text-decoration:}
.medium-big{ font-size: 1.85rem; letter-spacing: 2px; font-weight: 300;}
.big{ font-size: 3.5rem; letter-spacing: 1.75px; font-weight: 100; font-stretch: ultra-expanded;}

.black { color: RGBA(0, 0, 0, 1.00); }
.hyperlinks { color: RGBA(79, 0, 210, 1.00); } 
.charcoal { color: RGBA(60, 60, 60, 1.00); }
.gray { color: RGBA(100, 100, 100, 1.00); }
.lightGray { color: RGBA(150, 150, 150, 1.00); }
.faded { color: RGBA(200, 200, 200, 1.00); }
.white { color: RGBA(255, 255, 255, 1.00); }
.red { color: RGBA(255, 200, 200, 1.00); }
.green { color: RGBA(200, 255, 200, 1.00); }

.beta{
	letter-spacing: 0;
	font-size: 3rem;
}

.nav{
	float: right;
	margin-top: 30px;
	margin-right: 50px;
}

.navButton{
	margin-right: 30px;
	letter-spacing: 2.5px;
}

.pageHead{
	margin-top: 15px;
	margin-bottom: 50px;
	padding-top: 30px;
}

#filterBox{
	height: 140px;
	margin-bottom: 25px;
	background-color: RGBA(240, 240, 240, 1.00);
	border-radius: 7px;
	display: inline-block;
	width: 100%;
	max-width: 750px;
}


#filterPannel{
	margin-left: 120px;
	display: inline-block;
}

.filter {
	margin: 20px 20px;
	display: inline-block;
}

.filterText{
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
}

#apply{
	margin-left: 60px;
	padding: 10px 20px;
	background-color: RGBA(255, 255, 255, 1.00);
	display: inline-block;
	border-radius: 3px;
	border: 1.5px solid RGBA(180, 180, 180, 1.00);
}

#apply:hover{
	background-color: RGBA(200, 191, 255, .5);
}

.courseContainer{
	width: 850px;
	display: inline-block;
	margin-top: 10px;
	font-size: 
}


td.partNumber{
	padding-right: 35px;
	vertical-align: top;
	color: RGBA(0, 0, 0, 1.00);
}

td.courseTitle{
	margin-left: 5px;
	width: 750px;
}

.courses{
	max-width: 850px;
}

.course{
	max-width: 800px;
	display: inline-block;
	margin-bottom: 30px;
	width: 100%;
}

td.courseDescription{
	display: inline-block;
}

.courseLink {
	margin-left: 50px;
	display: inline-block;
}

.addButtons{
	width: 160px;

}

.addCourseButton {
	margin-left: 20px;
	padding: 10px 20px;
	border: 1px solid RGBA(220, 220, 220, 1.00);
	border-radius: 3px;
	display: inline-block;
	background-color: RGBA(255, 255, 255, 1.00);
}

.addCourseButton:hover {
	background-color: RGBA(200, 255, 200, 1.00);
}

.addButton:hover {
	background-color: RGBA(200, 255, 200, 1.00);
}

.addCourse {
	display: inline-block;
	padding: 10px 20px;
	margin-right: 10px;
	float: left;
	margin-top: 10px;
}

.plusButton {
	font-size: 2.75rem;
	font-weight: 600;
	margin-top: -4px;
	display: inline-block;
}

.plusButton:hover {
	color: white;
}

.active {
	border-bottom: 2px solid gray;
	margin-bottom: 5px;
}







